<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="test" src="{{ "/assets/img/bitmoji.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Talks and such </h3>
    <ul>
      <li> <a href="https://www.youtube.com/watch?v=HhZOe2bJPOo">GitHub Universe: GitHub Classroom 101</a></li>
      <li> <a href="https://www.youtube.com/watch?v=YlIDlpspvVU&t=3s">EuroPython: Building a Powerful Pet Detector in Notebooks</a></li>
      <li> <a href="https://talkpython.fm/episodes/show/217/notebooks-vs-data-science-enabled-scripts">TalkPython Podcast: Notebooks vs. Scripts</a></li>
      <li> <a href="https://www.youtube.com/watch?v=nTKQuZfpT-Y">Introducing ML Services 9.3 in Azure HDInsight/a></li>
    </ul>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="pug sleeping" src="{{ "/assets/img/noodle-nobg.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Does Noodle have bones today? </h3>
    <p>Simple website providing daily status updates with whether or not <a href="https://www.youtube.com/watch?v=QLsnGBG2_eA">Noodle has bones today</a></p>
    <a class="project-link" href="https://www.doesnoodlehavebonestoday.com/">Check it out</a>
  </div>
</div>
